.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #434343;

  h1{
    font-size: 60px;
    color: crimson;
  }

  ul{
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    li{
      font-size: 20px;
      margin-right: 50px;
      padding: 0.7px;
      cursor: pointer;
      border-radius: 10px;
      color: white;
    }
  }


  .container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-wrap: wrap;
    // flex: 2;


    .item{
      width: 400px;
      height: 220px;
      border-radius: 20px;
      border: 1px solid grey ;
      margin: 50px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      z-index: 1;
      transition: all .5s ease;

      h3{
        position: absolute;
        font-size: 20px;
      }


      img{
        height: 215px;
        width: 398px;
        object-fit: cover;
        z-index: 1;
        border-radius: 20px;
      }

      &:hover{
        background-color: #434343;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}